.hero {
  display: flex;
  padding-top: 230px;
  width: 100%;
  padding-bottom: 230px;
  background: 
    linear-gradient(to right, rgb(3, 48, 95) 50%, rgba(0, 0, 0, 0.2) 50%), /* Overlay hitam di kanan */
    url('../image/karinabg.jpg'); /* Gambar latar belakang */
  background-size: contain;
  background-position: center center;
}


.container-hero {
  display: flex;
  justify-content: space-evenly; /* Ubah menjadi flex-start */
  align-items: center;
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 50px;
  gap: 200px;
}

.hero-left-container {
  flex: 1;
}

.left-motto {
  font-size: 19px;
  font-weight: 400;
  text-align: justify;
  color: #FFFFFF; 
}

.hero-right-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}

.hero-right-pfp {
  overflow: hidden;
  object-fit: cover;
  object-position: top;
  width: 430px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 70px;
  color: #FFFFFF;
  margin-bottom: 10px;
  font-weight: 700;
}